@charset "utf-8";

* {
    max-width: 99.999%
}

body {
    background-color: #fff;
    color: #232a2f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 76%;
    margin: 0
}

.skipNav {
    display: none
}

a:link {
    color: #4992c6;
    text-decoration: none
}

a:visited {
    color: #4992c6;
    text-decoration: none
}

a:hover {
    color: #4da5e4;
    font-weight: bold;
    text-decoration: none
}

a:focus {
    color: #4da5e4;
    font-weight: bold;
    text-decoration: none
}

a:active {
    color: #4c6b87;
    text-decoration: none
}

.navList li a {
    color: #ebf7ff
}

a[name] {
    color: #232a2f
}

a[name]:hover {
    color: #232a2f;
    text-decoration: none
}

pre {
    font-size: 1.3em
}

h1 {
    font-size: 1.8em
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.4em
}

h4 {
    font-size: 1.3em
}

h5 {
    font-size: 1.2em
}

h6 {
    font-size: 1.1em
}

ul {
    list-style-type: disc
}

code {
    font-size: 1.2em
}

tt {
    font-size: 1.2em
}

dt code {
    font-size: 1.2em
}

table tr td dt code {
    font-size: 1.2em;
    vertical-align: top
}

table tr td dl {
    margin-bottom: 1px;
    margin-top: 0
}

table tr td dl dt {
    margin-bottom: 1px;
    margin-top: 0
}

table tr td dl dd {
    margin-bottom: 1px;
    margin-top: 0
}

sup {
    font-size: 0.6em
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden
}

.aboutLanguage {
    float: right;
    font-size: 0.8em;
    margin-top: -7px;
    padding: 7px;
    z-index: 200;
    display: block
}

.legalCopy {
    margin-left: 0.5em
}

.bar a,
.bar a:active,
.bar a:link,
.bar a:visited {
    color: #fff;
    text-decoration: none
}

.bar {
    background-color: #3664cf;
    color: #fff;
    font-size: 1em;
    height: 1.8em;
    height: auto;
    margin: 0;
    padding: 0.8em 0.5em 0.4em 0.8em
}

.bar a:hover {
    color: #bb7a2a
}

.bar a:focus {
    color: #bb7a2a
}

.tab {
    background-color: #3664cf;
    background-position: left top;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    width: 5em
}

.topNav {
    background-color: #4177f3;
    clear: right;
    color: #fff;
    min-height: 2.8em;
    height: auto;
    overflow: hidden;
    width: 99.999%
}

.topNav a:hover {
    color: #4da5e4;
    text-decoration: none
}

div.bottomNav,
div.topNav {
    width: 99.999%
}

.navListSearch {
    float: right;
    display: block;
    margin: 5px 15px;
    list-style-type: none
}

.navListSearch li {
    min-width: 300px
}

#search,
#reset {
    border: 1px solid;
    outline: none
}

.bottomNav {
    background-color: #3664cf;
    clear: right;
    color: #fff;
    float: left;
    height: auto;
    max-height: 70px;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
    width: 99.999%
}

.bottomNav a:hover {
    color: #4da5e4;
    text-decoration: none
}

.subNav {
    background-color: rgba(10, 147, 248, 0.85);
    border-bottom: 1px solid rgba(165, 198, 247, 0.43);
    float: left;
    overflow: hidden;
    width: 99.999%
}

.subNav div {
    clear: left;
    float: left;
    padding: 0 0 5px 6px
}

ul.navList {
    float: left;
    margin: 0 25px 0 0;
    padding: 0
}

ul.navList li {
    float: left;
    font-weight: bold;
    list-style: none;
    padding: 3px 6px
}

ul.subNavList {
    float: left;
    margin: 0 25px 0 0;
    padding: 0
}

ul.subNavList li {
    float: left;
    font-size: 90%;
    font-weight: bold;
    list-style: none
}

ul.subNavList li a {
    color: #d7efff
}

.bottomNav a:active,
.bottomNav a:link,
.bottomNav a:visited,
.topNav a:active,
.topNav a:link,
.topNav a:visited {
    color: #fff;
    text-decoration: none
}

.navBarCell1Rev {
    background-color: rgba(244, 186, 27, 0.76);
    border-radius: 1px;
    color: #fff;
    font-weight: bold;
    margin: auto 5px
}

.header {
    clear: both;
    margin: 0 20px;
    padding: 5px 0 0
}

.header ul {
    margin: 0 0 25px;
    padding: 0
}

.header ul li {
    font-size: 1.2em;
    list-style: none
}

.footer {
    clear: both;
    margin: 0 20px;
    padding: 5px 0 0
}

.footer ul {
    margin: 20px 0 5px
}

.footer ul li {
    font-size: 1.2em;
    list-style: none
}

.indexHeader {
    padding: 10px;
    position: relative
}

.indexHeader h1 {
    font-size: 1.3em
}

.title {
    color: #2c4557;
    margin: 10px 0
}

.subTitle {
    margin: 7px 0 0
}

div.details ul.blocklist ul.blocklist ul.blocklist li.blocklist h4 {
    background-color: #006cbb;
    border-bottom: 1px solid rgba(165, 198, 247, 0.43);
    border-top: 1px solid rgba(165, 198, 247, 0.43);
    margin: 0 0 6px -8px;
    padding: 2px 5px
}

div.details ul.blocklist ul.blocklist ul.blockListLast li.blocklist h4 {
    background-color: #006cbb;
    border-bottom: 1px solid rgba(165, 198, 247, 0.43);
    border-top: 1px solid rgba(165, 198, 247, 0.43);
    margin: 0 0 6px -8px;
    padding: 2px 5px
}

ul.blockList {
    margin: 10px 0;
    padding: 0
}

ul.blockList ul.blocklist ul.blocklist li.blocklist {
    background-color: #fff;
    border-top: none;
    border: 1px solid rgba(165, 198, 247, 0.43);
    padding: 0 0 5px 8px
}

ul.blockList ul.blocklist ul.blocklist li.blocklist h3 {
    background-color: #006cbb;
    border-bottom: 1px solid rgba(165, 198, 247, 0.43);
    border-top: 1px solid rgba(165, 198, 247, 0.43);
    margin: 0 0 6px -8px;
    padding: 2px 5px
}

ul.blockList ul.blocklist ul.blocklist ul.blockList li.blocklist {
    border-bottom: 1px solid rgba(165, 198, 247, 0.43);
    border: none;
    margin-left: 0;
    padding-bottom: 15px;
    padding-left: 0
}

ul.blockList ul.blocklist ul.blocklist ul.blockList li.blockListLast {
    border-bottom: none;
    list-style: none;
    padding-bottom: 0
}

ul.blockList ul.blocklist li.blockList {
    background-color: rgba(244, 186, 27, 0.76);
    border: 1px solid rgba(165, 198, 247, 0.43);
    padding: 0 20px 5px 10px
}

ul.blockList ul.blocklist li.blockList h3 {
    margin: 15px 0;
    padding: 0
}

ul.blockList ul.blocklist li.blockList table {
    margin: 0 0 12px;
    width: 100%
}

ul.blockList ul.blocklist ul.blockListLast li.blocklist {
    background-color: #fff;
    border-top: none;
    border: 1px solid rgba(165, 198, 247, 0.43);
    padding: 0 0 5px 8px
}

ul.blockList li.blockList {
    list-style: none;
    margin-bottom: 25px
}

ul.blockList li.blockList h2 {
    padding: 0 0 20px
}

ul.blockList ul.blockListLast li.blocklist {
    background-color: rgba(244, 186, 27, 0.76);
    border: 1px solid rgba(165, 198, 247, 0.43);
    padding: 0 20px 5px 10px
}

.classUseContainer,
.constantValuesContainer,
.contentContainer,
.serializedFormContainer,
.sourceContainer {
    clear: both;
    padding: 10px 20px;
    position: relative;
    word-wrap: break-word;
    max-width: 99%
}

.indexContainer {
    font-size: 1em;
    position: relative
}

.indexContainer h2 {
    font-size: 1.1em;
    padding: 10px;
    background-color: #4992c6
}

.indexContainer ul {
    margin: 0;
    padding: 10px
}

.indexContainer ul li {
    list-style: none;
    padding: 0.3em
}

.contentContainer .description dl dt {
    color: #0084bb;
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 0
}

.contentContainer .description dl dd {
    margin: 10px 0 10px 20px
}

.contentContainer .description table {
    border-bottom: none
}

.contentContainer .details dl dt {
    color: #0084bb;
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 0
}

.contentContainer .details dl dd {
    margin: 10px 0 10px 20px
}

.contentContainer .details table {
    border-bottom: none
}

.contentContainer table {
    border-bottom: 1px solid rgba(165, 198, 247, 0.43);
    width: auto;
    max-width: 99%
}

.contentContainer ul li table {
    width: auto;
    max-width: 99%
}

.serializedFormContainer dl dt {
    color: #0084bb;
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 0
}

.serializedFormContainer dl dd {
    margin: 10px 0 10px 20px;
    width: auto;
    max-width: 99%;
    word-wrap: break-word
}

.serializedFormContainer dl.nameValue dt {
    display: inline;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 1px
}

.serializedFormContainer dl.nameValue dd {
    display: inline;
    font-size: 1.1em;
    margin: 0 0 0 1px
}

ul.horizontal li {
    display: inline;
    font-size: 0.9em
}

ul.inheritance {
    margin: 0;
    padding: 0
}

ul.inheritance li {
    display: inline;
    list-style: none
}

ul.inheritance li ul.inheritance {
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 1px
}

ul.blockListLast {
    margin: 10px 0;
    padding: 0
}

ul.blockListLast li.blocklist {
    list-style: none;
    margin-bottom: 25px
}

.classUseContainer table {
    border-bottom: 1px solid rgba(165, 198, 247, 0.43);
    width: auto;
    max-width: 99%
}

.classUseContainer ul li table {
    width: auto;
    max-width: 99%
}

.constantValuesContainer table {
    border-bottom: 1px solid rgba(165, 198, 247, 0.43);
    width: auto;
    max-width: 99%
}

.constantValuesContainer ul li table {
    width: auto;
    max-width: 99%
}

.classUseContainer ul li table td,
.classUseContainer ul li table th,
.constantValuesContainer ul li table td,
.constantValuesContainer ul li table th,
.contentContainer ul li table td.colFirst,
.contentContainer ul li table td.colLast,
.contentContainer ul li table td.colOne,
.contentContainer ul li table th.colFirst,
.contentContainer ul li table th.colLast,
.contentContainer ul li table th.colOne {
    padding-right: 20px;
    vertical-align: top
}

.classUseContainer ul li table td.colLast,
.classUseContainer ul li table td.colOne,
.classUseContainer ul li table th.colLast,
.classUseContainer ul li table th.colOne,
.constantValuesContainer ul li table td.colLast,
.constantValuesContainer ul li table th.colLast,
.contentContainer ul li table td.colLast,
.contentContainer ul li table td.colOne,
.contentContainer ul li table th.colLast,
.contentContainer ul li table th.colOne {
    padding-right: 3px
}

.classUseContainer caption,
.constantValuesContainer caption,
.contentContainer ul.blockList li.blockList caption,
.overviewSummary caption,
.packageSummary caption,
.summary caption {
    background-repeat: no-repeat;
    clear: none;
    color: #fff;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    width: 80%
}

caption a:active,
caption a:hover,
caption a:link,
caption a:visited {
    color: #fff
}

.classUseContainer caption span,
.constantValuesContainer caption span,
.contentContainer ul.blockList li.blockList caption span,
.overviewSummary caption span,
.packageSummary caption span,
.summary caption span {
    background-color: #3664cf;
    display: block;
    float: left;
    height: 18px;
    padding-left: 8px;
    padding-top: 8px;
    white-space: nowrap
}

.classUseContainer .tabEnd,
.constantValuesContainer .tabEnd,
.contentContainer ul.blockList li.blockList .tabEnd,
.overviewSummary .tabEnd,
.packageSummary .tabEnd,
.summary .tabEnd {
    background-color: #3664cf;
    background-position: top right;
    background-repeat: no-repeat;
    border-top-right-radius: 6px;
    float: left;
    position: relative;
    width: 10px
}

.tableSubHeadingColor {
    background-color: #eef
}

.altColor {
    background-color: #eeeeef
}

.rowColor {
    background-color: #fff
}

.rowColor a,
.rowColor a:active,
.rowColor a:hover,
.rowColor a:visited {
    outline: none;
    background-color: transparent;
    color: #e0deff
}

.altColor a,
.altColor a:active,
.altColor a:hover,
.altColor a:visited {
    outline: none;
    background-color: transparent;
    color: #e0deff
}

.classUseContainer td,
.constantValuesContainer td,
.contentContainer ul.blockList li.blockList td,
.overviewSummary td,
.packageSummary td,
.summary td {
    padding: 3px 3px 3px 7px;
    text-align: left
}

.constantValuesContainer th,
th.colFirst,
th.colSecond,
th.colLast,
th.colOne {
    background: #006cbb;
    border-bottom: 1px solid rgba(165, 198, 247, 0.43);
    border-top: 1px solid rgba(165, 198, 247, 0.43);
    padding: 3px 3px 3px 7px;
    text-align: left;
    color: #fff
}

.constantValuesContainer td a:active,
.constantValuesContainer td a:hover,
.constantValuesContainer td a:link,
.constantValuesContainer td a:visited,
td.colFirst a:active,
td.colFirst a:hover,
td.colFirst a:link,
td.colFirst a:visited,
td.colSecond a:active,
td.colSecond a:hover,
td.colSecond a:link,
td.colSecond a:visited,
td.colLast a:active,
td.colLast a:hover,
td.colLast a:link,
td.colLast a:visited,
td.colOne a:active,
td.colOne a:hover,
td.colOne a:link,
td.colOne a:visited {
    font-weight: bold
}

td.colFirst {
    border-left: 1px solid rgba(165, 198, 247, 0.43);
    white-space: nowrap
}

th.colFirst {
    border-left: 1px solid rgba(165, 198, 247, 0.43);
    white-space: nowrap
}

td.colSecond {
    border-left: 1px solid rgba(165, 198, 247, 0.43);
    white-space: nowrap
}

th.colSecond {
    border-left: 1px solid rgba(165, 198, 247, 0.43);
    white-space: nowrap
}

td.colLast {
    border-right: 1px solid rgba(165, 198, 247, 0.43)
}

th.colLast {
    border-right: 1px solid rgba(165, 198, 247, 0.43)
}

td.colOne {
    border-left: 1px solid rgba(165, 198, 247, 0.43);
    border-right: 1px solid rgba(165, 198, 247, 0.43)
}

th.colOne {
    border-left: 1px solid rgba(165, 198, 247, 0.43);
    border-right: 1px solid rgba(165, 198, 247, 0.43)
}

table.overviewSummary {
    margin-left: 0;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 25px
}

table.overviewSummary th.colfirst {
    vertical-align: middle;
    width: 25%
}

table.overviewSummary td.colFirst,
table.overviewSummary td.colOne,
table.overviewSummary th.colFirst,
table.overviewSummary th.colOne {
    vertical-align: middle;
    width: 25%
}

table.packageSummary td.colfirst {
    vertical-align: middle;
    width: 25%
}

.description pre {
    margin-top: 0
}

.deprecatedContent {
    margin: 0;
    padding: 10px 0
}

.docSummary {
    padding: 0
}

.sourceLineNo {
    color: green;
    padding: 0 30px 0 0
}

h1.hidden {
    font-size: 0.9em;
    overflow: hidden;
    visibility: hidden
}

.block {
    display: block;
    margin: 3px 0 0
}

.strong {
    font-weight: bold
}

div#subHeader {
    font-size: 10pt;
    padding: 7px 7px 7px 0;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: lighter
}

span#t0.activeTableTab {
    padding-left: 0
}

span#t0.activeTableTab,
span#t1.tableTab,
span#t4.tableTab {
    height: auto
}

table.memberSummary caption span.activeTableTab,
table.memberSummary caption span.tableTab {
    background-color: transparent !important;
    font-weight: normal;
    height: auto
}

table.memberSummary caption span.activeTableTab {
    background-color: transparent !important;
    font-weight: bold
}

p#bottomPageText {
    margin: 5px;
    padding: 5px;
    display: block;
    float: left
}

@media (prefers-color-scheme: dark) {

    *,
    .header,
    h1.title,
    h2.title {
        background: transparent;
        color: #eee
    }

    body {
        background: rgb(35, 55, 69);
        color: #eee
    }

    div.bottomNav,
    div.topNav {
        background-color: #274b9e
    }

    div.subNav {
        background-color: #015fa4
    }

    .altColor {
        background-color: rgba(69, 125, 255, 0.55);
        color: #eee
    }

    .rowColor {
        background-color: transparent
    }

    th.colFirst,
    th.colLast td.colFirst,
    td.colLast {
        border: none !important
    }

    .blockList span.typeNameLabel {
        color: #0b91f2
    }

    .indexContainer li a,
    .indexContainer li a:active,
    .indexContainer li a:hover,
    .indexContainer li a:visited {
        color: #8caeff
    }

    .ui-widget-content,
    .ui-menu .ui-menu-item-wrapper,
    .ui-autocomplete,
    .ui-autocomplete-category,
    .ui-autocomplete>.ui-menu-item-wrapper,
    .ui-autocomplete>.resultItem {
        background: rgb(35, 55, 69);
        color: #eee
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
        background: #049cdd !important;
        color: rgb(255, 205, 68);
        margin: auto;
        border: none
    }

    .ui-autocomplete-category {
        font-weight: bold;
        padding: 2px
    }

    .ui-autocomplete>.resultItem:hover {
        background-color: #0084bb
    }

    .resultHighlight {
        color: rgb(255, 205, 68);
        background-color: transparent !important
    }
}

@media print {

    *,
    .header,
    .navBarCell1Rev,
    a,
    a:active,
    a:hover,
    a:visited,
    div.bottomNav,
    div.contentContainer,
    div.subNav,
    div.topNav,
    h1.title,
    h2.title,
    th.colFirst,
    th.colLast {
        background: transparent !important;
        color: #000;
        box-shadow: none;
        max-width: 98%
    }

    body {
        background: transparent
    }

    h1, h2, h3 {
        break-after: avoid;
    }

    a,
    a:active,
    a:hover,
    a:visited,
    div.contentContainer a,
    ul.horizontal li a,
    ul.navList li a {
        outline: none;
        background: transparent !important;
        color: #000
    }

    div.contentContainer div.summary {
        break-before: page;
    }

    table,
    table.overviewSummary {
        border-color: #000 !important;
        max-width: 98%
    }

    div.subNav,
    div.topNav {
        display: none;
        visibility: none
    }

    .bottomNav {
        border-top: 2px solid
    }

    #bottomPageText,
    #bottomPageText span {
        width: 98%;
        background: transparent !important;
        color: #000
    }
}